a {
  display: inline-block;
}
.cursor-p {
  cursor: pointer;
}
aside {
  z-index: 9999;
  left: -312.056px;
}
.overlay-image {
  background-color: #fffa;
  bottom: -100%;
  transition: bottom 0.4s;
}
.image-foot:hover .overlay-image {
  bottom: 0;
}
.w-fit {
  width: fit-content;
}

.close-menue {
  display: none;
  /* display: block; */
}
.show-info {
  /* display: none; */
  background-color: #000a;
  z-index: 999;
}
