a {
  display: inline-block;
}
.cursor-p {
  cursor: pointer;
}
aside {
  z-index: 9999;
  left: -312.056px;
}
.overlay-image {
  background-color: #fffa;
  bottom: -100%;
  transition: bottom 0.4s;
}
.image-foot:hover .overlay-image {
  bottom: 0;
}
.w-fit {
  width: fit-content;
}

.close-menue {
  display: none;
  /* display: block; */
}
.show-info {
  /* display: none; */
  background-color: #000a;
  z-index: 999;
}

/* *** */
.loading-screen {
  display: none;
  z-index: 999999;
  background-image: linear-gradient(to top, #000e 50%, #000f 100%);
}
.loader {
  width: 50px;
  height: 50px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
